*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(231, 237, 238);
}
ul{
    padding: 10px 40px;
}
h3 {
    color: red;
}
span,  .fa-star, .fa-star-half-o {
    color: orange;
}
span i:last-child{ color: rgb(41, 39, 39);}

i {
    color: rgb(94, 87, 87);
}
.review img{
    display: inline-block;
    width: 200px;
    height: 100px;
}









.customerCare{

    background-color: #2e2e54;
    color: whitesmoke;
}
.customerCare li{
    list-style: none;
}
.customerCare a{

    color: whitesmoke;
}

.leftItems, .rightItems, .imaging {
    display: inline-block;
} 




.rightItems{
    float: left;
    position: relative;
    display: block;
}


.images{

 margin-right: 20px;
 margin-top: 20px;
width: 100px;
height: 100px;
display: inline-block;
}


.images2 {
width: 120px ;
height: 30px;
}




.paymentProcedure{
    background-color: thistle;
    padding: 40px;
}
.paymentProcedure img{
    display: inline-block;
    padding: 10px;
    width: 150px;
    height: 75px;
}

footer{
    background-color: black;
    padding: 10px;
}